.board-detail-conatiner {
  width: 860px;
  height: 90%;
  margin: 0 auto;
  div {
    margin-top: 1.5rem;
  }
  h1 {
    background-color: rgb(77, 77, 77);
    padding: 10px;
    border-radius: 10px;
  }
}
.detail-subtitle {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  .detail-subtitle-writer {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(77, 77, 77);
  }
  .detail-subtitle-date {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(77, 77, 77);
  }
}
.detail-main {
  height: 450px;
  background-color: rgb(77, 77, 77);
  border-radius: 5px;
  overflow: hidden;
}
